.weather-fetchings{
    width: 100%;
}
.weather-fetching{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.ico-txt{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leaflet-control-container,
.leaflet-bottom.leaflet-right {
  z-index: 1;
}

.leaflet-control-attribution {
    display: none;
  }