  
  .sidebar_Container {
    border-right: 1px solid var(--twitter-background);
    flex: 0.3;
    overflow-y: scroll;
    position: inherit;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
  min-width: 250px;
  padding-top: 2vh;
}

.sidebar__hamburger{
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar__hamburgerIcon {
  visibility: hidden;
}

.sidebar_Container::-webkit-scrollbar {
  display: none;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 35px !important;
  margin-left: 20px;
  margin-bottom: 10px;
}

.sidebar__tweet {
  width: 90%;
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 10px !important;
}

.Profile__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 9999px;
  padding: 10px;
}

.user__info {
  margin-left: 10px;
}

.subUser__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.user__info > h4 {
  font-size: 14px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.user__info > h5 {
  margin: 0;
  padding: 0;
  opacity: 50%;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .sidebar__hamburgerIcon {
    visibility: visible;
  }
  .sidebar__hamburger {
    display: block;
    position: fixed;
    top: 10;
    left: 0;
    background-color: white;
    width: 250px;
    height: 100%;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar__hamburger.open {
    transform: translateX(0);
  }

  .sidebar__hamburgerIcon {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1100;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .sidebar__hamburgerIcon.open {
    transform: translateX(250px);
  }
}
